

.app {
  display: flex;
  height: 100vh;
  width: 100%;
}

.mainContent {
  flex-grow: 1;
  margin-left: 240px; 
  overflow-y: auto;
  padding: 20px;
  background-color: #f9fafb; 
  transition: margin-left 0.3s ease-in-out;
}

.collapsedContent {
  margin-left: 70px; 
}
